@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  margin-top: 3rem;
  margin-left: 3.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: hsl(257, 40%, 49%);
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-areas:
    "header header"
    "main side-main"
    "main footer";
}

.side-main {
  grid-area: side-main;
  margin-top: 6.5rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  margin-right: 15rem;
}

p {
  color: white;
  margin-top: 1.3rem;
  margin-right: 13rem;
  font-weight: 400;
  line-height: 1.6;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  margin-top: 4rem;
  margin-right: 2.8rem;
}

footer {
  grid-area: footer;
}

header,
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  border-radius: 25px;
  padding: 13px 57px;
  background-color: white;
  box-shadow: 0px 5px 13px rgba(36, 35, 35, 0.63);
  margin-top: 1rem;
  color: hsl(257, 40%, 49%);
  transition: all 0.5s 0.2s;
}

.social-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 7rem;
  margin-left: 9.5rem;
}

.margin {
  transition: all 0.5s 0.2s;
  margin-right: 0.5rem;
}

button:hover,
button:active {
  background-color: hsl(300, 69%, 71%);
  color: white;
  transform: scale(0.95);
}

.margin:hover,
.margin:active {
  border-radius: 22px;
  filter: grayscale(1rem);
  background-color: hsla(300, 69%, 71%, 0.233);
}

/*IPHONE 12 PRO*/
@media screen and (max-width: 390px) {
  header img {
    width: 140px;
  }

  main img {
    width: 310px;
  }

  button {
    margin-left: 3.5rem;
  }

  h1 {
    margin-top: -2rem;
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  .social-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.7rem;
  }
}


/*IPHONE XR*/
@media screen and (max-width: 414px) {
  body {
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: top;
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    margin-top: 2.3rem;
  }

  header img {
    width: 160px;
  }

  main img {
    width: 335px;
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-right: 1rem;
  }

  h1 {
    margin-top: -2.5rem;
    margin-right: 35px;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
  }

  p {
    margin-right: 45px;
    margin-left: 10px;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
  }

  button {
    margin-left: 4rem;
    margin-top: 1.5rem;
    padding: 7px 70px;
  }

  .social-logos {
    margin-top: 5rem;
    margin-left: 0;
    margin-right: 2rem;
  }
}


/*IPHONE 5/SE*/
@media screen and (max-width: 320px) {
  header img {
    width: 120px;
  }

  main img {
    width: 250px;
  }

  button {
    margin-left: 2rem;
  }

  h1 {
    margin-top: -2rem;
    font-size: 15px;
  }

  p {
    font-size: 13px;
  }

  .social-logos {
    margin-left: 1rem;
  }
}




